{% extends "base.html" %}
{% block title %}Bookswapping -- {{ city.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block nav %}
            <li role="presentation" class="active"><a href="/cities">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>
            {% include "loginmenu.html" %}
{% endblock %}
{% block content %}
      <div class="jumbotron">
        <h1>{{ city.name }}</h1>
        <p class="lead">List the books you have read and swap them with others!</p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
      <div class="row">
        <div class="col-lg-12">
          {% for message in messages%}
          <p class="text-info text-center">{{ message }}</p>
          {% endfor %}
        </div>
      </div>
        {% endif %}
      {% endwith %}
      <div class="row">
        <div class="col-lg-12">
          <p><a href='/cities'>&lt; Back to cities</a></p>
        </div>
      </div>
      {% if books %}
        {% for book in books %}
      <div class="row">
      	<div class="col-lg-6">
          <p><strong>{{ book.title }}</strong> by <em>{{ book.author }}</em></p>
        </div>
        <div class="col-lg-6 text-right">
          {% if 'username' in session and user_id == book.owner_id %}
          <p>
          <a href="{{ url_for('deleteBook', city_id=city.id, book_id=book.id) }}">Delete</a> | 
          <a href="{{ url_for('editBook', city_id=city.id, book_id=book.id) }}">Edit</a>
            {% if book.status == "Requested" %}
              | <a href="{{ url_for('swapBook', city_id=city.id, book_id=book.id) }}">Swap</a>
            {% endif %}
            </p>
          {% else %}
            {% if book.status == "Available" %}
            <p><a href="{{ url_for('requestBook', city_id=city.id, book_id=book.id) }}">Request book for swapping</a></p>
            {% else %}
            <p>Requested for swapping</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
      
        {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          {% if 'username' in session %}
          <p>To add your book, click <a href="{{ url_for('newBook', city_id=city.id) }}">here</a>.</p>
          {% else %}
          <p>To take part in bookswapping and add your book, click <a href="/login">here</a> to log in.</p>
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="row">
      	<div class="col-lg-12">
          {% if 'username' in session %}
      		<p>There are no books in this city yet. To add one, click <a href="{{ url_for('newBook', city_id=city.id) }}">here</a>.</p>
          {% else %}
          <p>To take part in bookswapping and add the first book in this city, click <a href="/login">here</a> to log in.</p>
          {% endif %}
       	</div>
     	</div>
      {% endif %}




{% endblock %}