{% extends "base.html" %}
{% block title %}Bookswapping -- {{ city.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block nav %}
            <li role="presentation" class="active"><a href="/cities">Home</a></li>
            <li role="presentation"><a href="/about">About</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>
            <li role="presentation"><a href="/login">Login</a></li>
{% endblock %}
{% block content %}
      <div class="jumbotron">
        <h1>{{ city.name }}</h1>
        <p class="lead">List the books you have read and swap them with others!</p>
        <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
      </div>
      {% for book in books %}
      <div class="row marketing">
      	<div class="col-lg-12">
          <h4>{{ book.title }}</h4>
        </div>
      </div>
      {% else %}
      <div class="row marketing">
      	<div class="col-lg-12">
      		<p>There are no books in the database for {{ city.name }} yet. Click <a href="{{ url_for('newBook', city_id=city.id) }}">here</a> to create one.</p>
      	</div>
      </div>
      {% endfor %}
      <div class="row marketing">
      	<div class="col-lg-12">
      		<p>To add your book, click <a href="{{ url_for('newBook', city_id=city.id) }}">here</a>.</p>
       	</div>
     	</div>




{% endblock %}